<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Detalle de Información Personal</h4>            
            <p-table [value]="infoPersonal" [paginator]="true" [rows]="5">
              <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="Id">Id<p-sortIcon field="Id"></p-sortIcon></th>
                        <th pSortableColumn="Nombres">Nombres<p-sortIcon field="Nombres"></p-sortIcon></th>
                        <th pSortableColumn="Apellidos">Apellidos<p-sortIcon field="Apellidos"></p-sortIcon></th>
                        <th pSortableColumn="Fecha_Nacimiento">Fecha Nacimiento<p-sortIcon field="Fecha_Nacimiento"></p-sortIcon></th>
                        <th>Foto</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-info>
                    <tr>
                        <td>{{info.Id}}</td>
                        <td>{{info.Nombres}}</td>
                        <td>{{info.Apellidos}}</td>
                        <td>{{info.Fecha_Nacimiento | date }}</td>
                        <td>
                          <img src="{{info.Foto}}" width="20px" />
                        </td>
                        <td>
                          <div class="row" style="text-align:center;">
                            <div class="col-md-6">
                              <button pButton pRipple type="button" icon="pi pi-pencil" (click)="onRowEditInit(info.Id)" class="p-button-rounded p-button-text"></button>                            
                            </div>
                            <div class="col-md-6">
                              <button pButton pRipple type="button" icon="pi pi-times" (click)="onRowDelete(info.Id, info.Foto)" class="p-button-rounded p-button-text p-button-danger"></button>
                            </div>
                          </div>                          
                        </td>
                    </tr>
                </ng-template>
            </p-table>
          </div>
        </div>
    </div>
</div>

<p-dialog header="Modificar Información Personal" [(visible)]="displayBasic" [style]="{width: '50vw'}">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="txtNombres">Nombres</label>
        <input type="text" class="form-control" id="txtNombres">
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label for="txtApellidos">Apellidos</label>        
        <input type="text" class="form-control" id="txtApellidos">
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label for="txtFoto">Foto</label>        
        <input (change)="getFile($event)"
            id="txtFoto"
            type="file" 
            accept="image/*"            
            class="form-control" />
      </div>
    </div>    
    <div class="col-12">
      <div class="form-group">
        <label for="txtFecha_Nacimiento">Fecha de Nacimiento</label>        
        <input type="text" class="form-control" id="txtFecha_Nacimiento">
        <hr>
        <img src="" alt="">
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label for="cboEstado_Civil">Estado Civil</label>        
        <select class="form-control" id="cboEstado_Civil">
          <option value="false">Soltero</option>
          <option value="true">Casado</option>          
        </select>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label for="cboEstado_Civil">¿Tiene Hermanos?</label>        
        <select class="form-control" id="cboTiene_Hermanos">
          <option value="false">No</option>
          <option value="true">Si</option>
        </select>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="displayBasic=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>