<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Agregar Información Personal</h4>
            <p class="card-description">
              Ingrese la información requerida
            </p>
            <form  [formGroup]="infoPersonForm" (ngSubmit)="crearInfoPersonal()">
              <div class="p-fluid p-grid p-formgrid">
                <div class="p-field p-col-12 p-md-12">
                  <label>Nombres</label>
                  <input 
                    type="text"
                    formControlName="Nombres"
                    pInputText />
                </div>
                <div class="p-field p-col-12 p-md-12">
                  <label>Apellidos</label>
                  <input 
                    type="text" 
                    formControlName="Apellidos"
                    pInputText />                  
                </div>
                <div class="p-field p-col-12 p-md-12">
                  <label>Fecha Nacimiento</label>
                  <p-calendar
                    formControlName="Fecha_Nacimiento"
                    [showIcon]="true" 
                    inputId="icon"
                    [readonlyInput]="true">
                  </p-calendar>            
                </div>
                <div class="p-field p-col-12 p-md-12">
                  <label>Foto</label>
                  <!-- <p-fileUpload                     
                    [customUpload]="true"
                    chooseLabel="Examinar"
                    uploadLabel="Subir"
                    chooseLabel="Examinar"
                    [showUploadButton]="false"
                    cancelLabel="Cancelar">
                  </p-fileUpload> -->
                  <input 
                      (change)="getFile($event)"
                      type="file" 
                      formControlName="Foto"
                      pInputText />
                  <table class="table" *ngIf="imageData">
                    <thead>
                      <tr>                            
                        <th scope="col">Imagen</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Tamaño</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>                            
                        <td><img width="200px" [src]="imageData" alt=""></td>
                        <td>{{ nameImage }}</td>
                        <td>{{ sizeImage }}</td>
                      </tr>                          
                    </tbody>
                  </table>
                </div>
                <div class="p-field p-col-12 p-md-12">
                  <label>Estado Civil</label>
                  <p-selectButton 
                    [options]="estadoCivil" 
                    optionLabel="Estado_Civil"
                    formControlName="Estado_Civil"
                    optionLabel="name"                     
                    optionValue="code">
                  </p-selectButton>
                </div>
                <div class="p-field p-col-12 p-md-12">
                  <label>Tiene_Hermanos</label>
                  <p-selectButton 
                    [options]="tieneHermano" 
                    formControlName="Tiene_Hermanos"
                    optionLabel="Tiene_Hermanos"
                    optionLabel="name" 
                    optionValue="code">
                  </p-selectButton>
                </div>
              </div>
              <hr>
              
              <p-button type="submit" label="Guardar" icon="pi pi-save" [disabled]="infoPersonForm.invalid"></p-button>              
                            
              <button 
                pButton 
                pRipple 
                type="reset" 
                label="Cancelar" 
                class="p-button-raised p-button-secondary p-button-text"
                icon="pi pi-file-o">
              </button>

            </form>
          </div>
        </div>
      </div>
</div>
<ngx-ui-loader></ngx-ui-loader>
<p-toast></p-toast>