<!-- <p-menubar [model]="items"></p-menubar> -->
<!-- partial:../../partials/_navbar.html -->
<nav class="navbar default-layout col-sm-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
    <a class="navbar-brand brand-logo">
      <img src="assets/images/logo-evertec.png" alt="logo" />
    </a>
    <a class="navbar-brand brand-logo-mini">
      <img src="assets/images/logo-evertec-peq.png" alt="logo" />
    </a>
  </div>  
  <div class="navbar-menu-wrapper d-flex align-items-center">   
    <p-menubar [model]="items"></p-menubar>
  </div>
</nav>
<!-- partial -->

